<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALestate Homepage</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jQuery-3.4.1.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
</head>

<nav class="navbar fixed-top navbar-light bg-info">
  <!-- <div class="navbar-left">
        <a href="homepage" class="btn btn-secondary" role="button">Homepage</a>
    </div> -->  
  
  <div class="navbar-left">
        <a> Active User: Steve Rich</a>
    </div>
    
    <p class="navbar-title">REALestate</p>
    
    <div class="navbar-right ">
        <div class="btn-group ">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
              Dropdown
            </button>
            <div class="dropdown-menu dropdown-menu-right p-3 mb-2 bg-light text-white">
                <a class="dropdown-item" href="profile">Profile</a>
                <a class="dropdown-item" href="contact">Contact</a>
              <% if(typeof rank == 'Admin'){ %>
                <a class="dropdown-item" href="admin">Admin</a>
              <% } %>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="login">Logout</a>           
             </div>
        </div>
    </div>
  </nav>

  <body class="bodyNav">

  </body>
