<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALestate Homepage</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jQuery-3.4.1.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
</head>

<nav class="navbar fixed-top navbar-light bg-info">
  <!-- <div class="navbar-left">
        <a href="homepage" class="btn btn-secondary" role="button">Homepage</a>
    </div> -->  
  
  <div class="navbar-left">
        <a> Active User: Steve Rich</a>
    </div>
    
    <p class="navbar-title">REALestate</p>
    
    <div class="navbar-right ">
        <div class="btn-group ">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
              Dropdown
            </button>
            <div class="dropdown-menu dropdown-menu-right p-3 mb-2 bg-light text-white">
                <a class="dropdown-item" href="profile">Profile</a>
                <a class="dropdown-item" href="contact">Contact</a>
                <a class="dropdown-item" href="admin">Admin</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="login">Logout</a>           
             </div>
        </div>
    </div>
  </nav>

  <body class="bodyNav">

    <p>This is the homepage</p>

    <p>This is where the map goes</p>

    <button type="button" class="btn btn-primary btn-lg">Large</button>
    <button type="button" class="btn btn-primary">Normal</button>
    <button type="button" class="btn btn-primary btn-sm">Small</button>
    <button type="button" class="btn btn-primary btn-xs">XSmall</button>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>
    
  </body>
