<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realators Homepage</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/bootstrap.min.js.map"></script>

</head>

<nav class="navbar fixed-top navbar-light bg-info">
    <div class="navbar-left">
        <a href="login" class="btn btn-secondary" role="button">Homepage</a>
    </div>
    
    <p class="navbar-title">REALestate</p>
    
    <div class="navbar-right">
        <div class="btn-group dropleft">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </button>
            <div class="dropdown-menu">
              <!-- Dropdown menu links -->
            </div>
          </div>
  </nav>

  <body class="bodyNav">

  </body>
