<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALestate Homepage</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jQuery-3.4.1.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5AtkBvlXeI567r7_tm3JlcYivAmfEmxs&callback=initAutocomplete&libraries=places&v=weekly" defer></script>
    <script src="/js/map.js"></script>


</head>

<div id="nav-placeholder"></div>
<script>
    $(function(){
      $("#nav-placeholder").load("/nav");
    });
</script>

<body class="bodyNav">

  <div class="container-map">
    <div class="row justify-content-md-center">
      
      <div id ="HM" class="col">
        <div id="map"></div>
      </div>

      <div id ="HM" class="col col-lg-4">
        <div id="HC" class="card">
          <div class="card-body">
            <div class="e-profile">

              <div class="row">
                <input id="pac-input" class="form-control" type="text-search" placeholder="Search"/>
              </div>

              <hr></hr>
              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-primary">Filters</button>
                </div>
                <div class="col-6">
                  2 of 3 (wider)
                </div>
              </div>

              <hr></hr>


            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</body>