<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALestate Homepage</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jQuery-3.4.1.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5AtkBvlXeI567r7_tm3JlcYivAmfEmxs&callback=initAutocomplete&libraries=places&v=weekly" defer></script>
    <script src="/js/map.js"></script>


</head>

<div id="nav-placeholder"></div>
<script>
    $(function(){
      $("#nav-placeholder").load("/nav");
    });
</script>

<body class="bodyNav">

  <div class="container-map">
    <div class="row justify-content-md-center">
      
      <div id ="HM" class="col">
        <div id="map"></div>
      </div>

      <div id ="HM" class="col col-lg-4">
        <div id="HC" class="card">
          <div class="card-body">
            <div class="e-profile">

              <div class="row">
                <input id="pac-input" class="form-control" type="text-search" placeholder="Search"/>
              </div>

              <hr></hr>
              <div class="row overflow-hidden">
                <div class="col-3">
                  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filterModal">Filters</button>

                  <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="filterModalTitle">Filters</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">

    <!-- modal-body -->
    <div class="container">
      <div class="row">
  
        <div class="col col-lg-5">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="pills-Service-tab" data-toggle="pill" href="#Service" role="tab" aria-controls="Service" aria-selected="true">Service</a>
              <a class="nav-link" id="pills-Travel-tab" data-toggle="pill" href="#Travel" role="tab" aria-controls="Travel" aria-selected="false">Travel</a>
              <a class="nav-link" id="pills-Entertainment-tab" data-toggle="pill" href="#Entertainment" role="tab" aria-controls="Entertainment" aria-selected="false">Entertainment</a>
              <a class="nav-link" id="pills-Food-tab" data-toggle="pill" href="#Food" role="tab" aria-controls="Food" aria-selected="false">Store (food)</a>
              <a class="nav-link" id="pills-GeneralShopping-tab" data-toggle="pill" href="#GeneralShopping" role="tab" aria-controls="GeneralShopping" aria-selected="false">General Shopping</a>
              <a class="nav-link" id="pills-Religious-tab" data-toggle="pill" href="#Religious" role="tab" aria-controls="Religious " aria-selected="false">Religious </a>
              <a class="nav-link" id="pills-Other-tab" data-toggle="pill" href="#Other" role="tab" aria-controls="Other" aria-selected="false">Other</a>
          </div>
        </div>
  
        <div id="filterCOL" class="col">
          <div class="tab-content " id="v-pills-tabContent">
            
            <div class="tab-pane fade show active overflow-auto" id="Service" role="tabpanel" aria-labelledby="pills-Service-tab">
              <ul id="filterList" class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" id="Bank" name="Bank" value="Bank">
                  <label for="Bank"> Bank</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Car Repair</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Car Wash</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Dentist</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Beauty Salon</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Doctor</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Gas Station</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Gym</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Hair Care</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Laundry</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Locksmith</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Lodging</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Real Estate Agency</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Spa</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Storage</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Veterinary Care</label>
                </li>
              </ul>
            </div>  
  
            <div class="tab-pane fade" id="Travel" role="tabpanel" aria-labelledby="pills-Travel-tab">
              <ul id="filterList" class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Airport</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Bus Station</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Car Dealer </label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Car Rental</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Parking</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Subway Station</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Train Station</label>
                </li>
              </ul>
            </div>
            <div class="tab-pane fade" id="Entertainment" role="tabpanel" aria-labelledby="pills-Entertainment-tab">
              <ul id="filterList" class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Amusement Park</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Aquarium</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Art Gallery</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Bowling Alley</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Movie Theater </label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Museum</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Night Club</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Park</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Stadium</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Tourist Attraction</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Zoo</label>
                </li>
              </ul>
            </div>
            
            <div class="tab-pane fade" id="Food" role="tabpanel" aria-labelledby="pills-Food-tab">
              <ul id="filterList" class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Bakery</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Bar</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Cafe</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Liquor Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Meal Takeaway</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Restaurant</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Supermarket</label>
                </li>
              </ul>
            </div>
            
            <div class="tab-pane fade" id="GeneralShopping" role="tabpanel" aria-labelledby="pills-GeneralShopping-tab">
              <ul id="filterList" class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Bicycle Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Bookstore </label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Clothing Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Convenience Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Department Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Drugstore </label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Electronics Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Florist</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Hardware Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Home Soods Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Jewelry Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Pet Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Pharmacy</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Shoe Store</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Shopping mall</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Store</label>
                </li>
                
              </ul>
            </div>
            
            <div class="tab-pane fade" id="Religious" role="tabpanel" aria-labelledby="pills-Religious-tab">
              <ul id="filterList" class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Church</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Funeral Home</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Hindu Temple</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Mosque</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Synagogue</label>
                </li>
              </ul>
            </div>
            
            <div class="tab-pane fade" id="Other" role="tabpanel" aria-labelledby="pills-Other-tab">
              <ul id="filterList" class="list-group">
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Fire Station</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Hospital</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Police</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Post Office</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Primary School</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> School</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> Secondary School</label>
                </li>
                <li class="list-group-item">
                  <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                  <label for="vehicle3"> University</label>
                </li>
                
              </ul>
            </div>

          </div>
        </div>
  
      </div>       
    </div>   
    <!-- modal-body-end -->

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Clear Filters</button>
                          <button type="button" class="btn btn-success" data-dismiss="modal">Add Filters</button>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
                <div class="col-9 d-flex justify-content-end">
                  <button type="button" class="btn btn-secondary btn-sm">Add Radius</button>
                  <input type="number" id="miles" name="miles" maxlength="3" size="3" min="1" max="300" placeholder="Miles"/>
                </div>
                

              </div>

              <hr></hr>


            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</body>