<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REALestate Profile</title>
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/lib/jQuery-3.4.1.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
</head>

<div id="nav-placeholder"></div>
<script>
    $(function(){
      $("#nav-placeholder").load("/nav");
    });
</script>
  <body class="bodyNav">

    <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="row">
          <div class="col mb-3">
            <div class="card">
              <div class="card-body">
                <div class="e-profile">
                  <div class="row">
                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                      <div class="text-center text-sm-left mb-2 mb-sm-0">
                        <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">Welcome: Steve Rich</h4>                        
                      </div>
                      <% if(user.rank == "Admin"){%>
                        <div class="text-center text-sm-right">
                          <span class="badge badge-dark">Admin</span>
                        </div>
                      <%}%>
                    </div>
                  </div>
                      <form class="form" novalidate="">
                        <div class="row">
                          <div class="col">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Name</label>
                                  <input class="form-control" type="text" name="name" value="<%=user.name%>">
                                </div>
                              </div>
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Username</label>
                                  <input class="form-control" type="text" name="username" value="<%=user.username%>">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Email</label>
                                  <input class="form-control" type="text" value="<%=user.email%>">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12 col-sm-6 mb-3">
                            <div class="mb-2"><b>Update Password</b></div>
                            <hr class="ProfileHR">
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Current Password</label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">New Password</label>
                                  <input class="form-control" type="password" placeholder="••••••">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                  <label id="labelProfile">Confirm <span class="d-none d-xl-inline">Password</span></label>
                                  <input class="form-control" type="password" placeholder="••••••"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col d-flex justify-content-end">
                            <button class="btn btn-primary" type="submit">Update Changes</button>
                          </div>
                        </div>
                      </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </body>